@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="text-center">
    <img src="~/images/logo.png" style="width: 320px;">
</div>
<br/>
<div class="row">
    <div class="col-lg-3">

        <h4>
            Podaci za pristup Android aplikaciji <br /><br />
            <b>Username:</b> elda<br />
            <b>Password:</b> elda
        </h4>
    </div>
    
    <div class="col-lg-3">

        <h4>
            Programski kod je postavljen na stranici GitHub. <br /><br />
            Link za pristup GitHub repozitoriju aplikacije je  <a href="https://github.com/EldaSultic/CvjecaraApp" target="_blank">ovdje</a>.

        </h4>
        <br /><br />

        <br />
    </div>

    <div class="col-lg-3">
        <h4>

            Link za pristup Web-baziranom Android Emulatoru (Appetize.io) je<a href="https://appetize.io/app/qrk8wze8fmdp65zx1zhak1e3w4" target="_blank"> ovdje</a>.

        </h4>


    </div>
    <div class="col-lg-3">
        <h4>
            Link za preuzimanje .apk fajla: <br /><br />
            1. <a href="https://edufit-my.sharepoint.com/:u:/g/personal/elda_sultic_edu_fit_ba/Ecgc4UN9v89Eiw7hv5gU2bEBUgHlTneyUDxkWDNQ1McdGw?e=zFkXaB">Link 1 (OneDrive)</a><br />
            2. <a href="http://rkscvjecara.app.fit.ba/app-debug.apk">Link 2 (app.fit.ba apk)</a>
        </h4>
    </div>

</div>

